{
  "NODE_ENV": "xxxxxxxxxxxxxxxxxx",
  "PORT": 9000,
  "TWITTER_CONSUMER_KEY" : "xxxxxxxxxxxxxxxxxxxxx",
  "TWITTER_CONSUMER_SECRET" : "xxxxxxxxxxxxxxxxxxxxxxx",
  "PIXORE_SECRET" : "xxxxxxxxxxxxxxxxxxxxxxxxx"
}