doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='css/main.css')
	body
		#panel.fixed
		#frames.fixed
			div.content-add-frame
				button#add-frame add frame
			ul#list-preview-frames
		div.content-preview-animate
			canvas#preview-animate
		script(src="http://localhost:35729/livereload.js")
		script(src="js/init.js")
		script(src="js/Editor.js")
		script(src="js/prototypes/Frame.js")
		script(src="js/prototypes/Sprite.js")
		script(src="js/prototypes/Canvas.js")
		script(src="js/prototypes/Vector.js")
		script(src="js/prototypes/Tool.js")
		script(src="js/tools/pencil.js")
		script(src="main.js")
