@import './vendor/normalize.css'
@import './Frames.styl'
@import './Animator.styl'
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-webkit-scrollbar {
		 width: 10px;
		 height: 10px;
 }

 ::-webkit-scrollbar-thumb {
		 background: rgba(255,255,255,.5);
 }

 ::-webkit-scrollbar-track {
		 background: rgba(0,0,0,.5);
 }
canvas {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
body{
	background grey
	position: absolute
	width : 100%
	height : 100%;
	overflow : hidden;
}
.canvas,.preview,.content-preview-animate
	position absolute
	top 0
	left 0

.content-preview-animate
	left auto
	right 0


.panel
	position absolute
	margin-top 20px
	.drag-bar
		position absolute
		top -20px
		background whitesmoke
		width 100%
		height 20px
		left 0
		cursor move

.panel-palette
	padding 10px
	background whitesmoke
	.input-color
		background-image url(../assets/image/transparent.png)
		background-size: 7%;
	.palette-color
		display inline-block
		cursor pointer
		&.active
			transform scale(1.1)
			box-shadow 0 0 5px rgba(0,0,0,0.7);
			transform-origin 50%
