
.panel-actions
	.content-redo, .content-undo
		width: 50%
		padding 5px
		display: inline-block;
		box-sizing: border-box
		button
			width: 100%
			text-align: center
	.content-redo
		padding-left: 0
	.content-lists
		overflow-y scroll
		height calc(100% - 53px)
		.list-undo, .list-redo
			list-style none
			margin 0
		.list-undo
			background gray
		.list-redo
			background white
