.content-panel-tab
  cursor pointer
  margin 0
  display inline-block
  text-align center
  font bold 12px sans-serif
  color disabled-gray
  height 20px
  line-height 1.5
  background background-black
  box-sizing border-box
  border-left 1px solid main-black
  z-index 3
  &.active
    color text-color
    position relative
    background main-gray
    &:after
     content ''
     position absolute
     width 100%
     height 1px
     bottom -1px
     left 0
     background main-gray
