.content-home
  margin 0

  .content-sprites
    ul
      list-style-type: none;
      li
        display inline-block


.grid
  list-style: none;
  padding: 0;
  margin: 0 auto;


.grid-item
  font-size: 0.75rem;
  background-color: #ccc;
  border-radius: 3px;
  border: 1px solid #aaa;
  background white
  width 250px
  .header
    height 60px
    padding: 15px;
    a
      height 60px
      img
        width 28px
        height 28px
    span
      color black
      display inline-block
      margin-left 10px
      font-size 14px
      .username
        font-size 10px
        color gray
  img
    width 100%
  .footer
    height 45px
    padding: 15px;

.grid-item p
  text-align: left;
  margin: 0.5em 0;

.grid-item *:first-child
  margin-top: 0;

.grid-item *:last-child
  margin-bottom: 0;
