@import './vendor/normalize.css'
@import '~bootstrap-grid'
@import './variables.styl'
@import './mixins.styl'
@import './Panel.styl'
@import './Range.styl'

.root
  overflow auto
  position absolute
  width 100%
  height 100%
  .editor-content
    position relative
    width 100%
    height 100%
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing border-box
}
::-webkit-scrollbar {
     width: 10px;
     height: 10px;
 }

 ::-webkit-scrollbar-thumb {
     background: rgba(255,255,255,.5);
 }

 ::-webkit-scrollbar-track {
     background: rgba(0,0,0,.3);
 }
canvas {
  cursor crosshair
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
body{
  background background-black
  position absolute
  width 100%
  height 100%
  color text-color
  overflow hidden
}
.list-content
  position: relative
  padding 30px
  .list
    padding 0
    list-style: none
    box-sizing border-box
    margin 0
img
  image-rendering pixelated
.editor-content>.mask
  pointer-events: none
.center
  overflow hidden
  background main-gray !important
.content-canvas
  position relative
  overflow hidden
  .canvas
    position relative
    //width 100%
    //height 100%
    //z-index 0
    //top 0
    //left 0
    &>.background, &>.layer, &>.canvas,&>.mask,&>.preview,.content-preview-animate
      position absolute
      top 0
      left 0
    &>.mask
      pointer-events none
.backdrop-context-menu
  width 100%
  height 100%
  position fixed
  z-index 11
  display none
  &.active
    display block
.context-menu.list-menus
  height auto
  border 1px solid gray
  position fixed
  display none
  min-width 150px
  background whitesmoke
  z-index 12
  box-shadow 3px 3px 2px  rgba(0, 0, 0, 0.5)
  list-style none
  margin 0
  padding 3px 0
  >.menu
    width 100%
  .context-item
    padding 0
    cursor pointer
  &.active
    display block
.content-preview-animate
  left auto
  right 0
.panel.panel-left
  left 0
  top 0
.panel.panel-float
  box-shadow 3px 3px 3px rgba(0, 0, 0, 0.3)
.panel.panel-modal
  background rgba(0, 0, 0, 0.5)
  width 100%
  height 100%
  border 0
  position fixed
  left 0
  .body
    z-depth-2 0
    margin auto
    margin-top 5%
    background: whitesmoke
    padding: 5px
.panel-menus
  border 0
  z-depth-1 0
  z-index 10
  transition 0.3s height
  background #494949
  &.down
    z-depth-2 0
  .center
    width: 20%
    display: inline-block;
    margin auto
    input
      background transparent
      text-align: center
      border 0
      &:active,&:focus
        border-bottom: 1px gray solid
        outline: none


.color
  background-size: 40%;
  display inline-block
  cursor pointer
  position relative
  div
    position absolute
    width 100%
    height 100%
    &.active
      transform scale(1.1)
      box-shadow 0 0 5px rgba(0,0,0,0.7);
      transform-origin 50%
      
@import './input.styl'
@import './layout'
@import './modal.styl'
@import './Navbar.styl'
@import './tooltip.styl'
@import './Tools.styl'
@import './Frames.styl'
@import './Layers.styl'
@import './Preview.styl'
@import './Actions.styl'
@import './ContentPanels.styl'
@import './Menus.styl'
@import './Resize.styl'
@import './Palette.styl'
@import './home.styl'
@import './ColorPicker.styl'