@import './vendor/normalize.css'
@import './variables.styl'
@import './mixins.styl'
@import './Frames.styl'
@import './Layers.styl'
@import './Preview.styl'
@import './Actions.styl'
@import './ContentPanels.styl'

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
::-webkit-scrollbar {
		 width: 10px;
		 height: 10px;
 }

 ::-webkit-scrollbar-thumb {
		 background: rgba(255,255,255,.5);
 }

 ::-webkit-scrollbar-track {
		 background: rgba(0,0,0,.5);
 }
canvas {
	image-rendering: optimizeSpeed;						 /* Older versions of FF					*/
	image-rendering: -moz-crisp-edges;					/* FF 6.0+											 */
	image-rendering: -webkit-optimize-contrast; /* Safari												*/
	image-rendering: -o-crisp-edges;						/* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;								 /* Awesome future-browsers			 */
	-ms-interpolation-mode: nearest-neighbor;	 /* IE														*/
}
body{
	background grey
	position: absolute
	width : 100%
	height : 100%;
	overflow : hidden;
}
.list
	position: relative
	list-style: none
	box-sizing border-box
	padding 30px
	margin 0
.panel-colorpicker
	.color
		vertical-align: top
		margin 3px
		margin-top: 6px
.canvas-picker
	display: inline-block
	.content-canvas
		display: inline-block
		position: relative
		.canvas-picker
			top 0
			left 0
			position: absolute
			border-radius: 100%
			height: 8px
			width: 8px
			pointer-events: none
			border: 2px solid white
			box-sizing: border-box
			box-shadow: 0 0 3px black
	.content-rainbow
		display: inline-block;
		position: relative;
		.rainbow-picker
			pointer-events: none
			top 0
			left -3px
			position: absolute
			width: 100%
			border: 2px solid white
			height: 4px


body>.mask
	pointer-events: none
body>.canvas,body>.mask,body>.preview,.content-preview-animate
	position absolute
	top 0
	left 0

.content-preview-animate
	left auto
	right 0

.panel.panel-modal
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	border: 0
	position: fixed
	left: 0
	.body
		z-depth-2 0
		margin auto
		margin-top 5%
		background: whitesmoke
		padding: 5px
.panel
	//box-sizing border-box
	position absolute
	overflow: hidden;
	box-sizing: border-box;
	border 2px solid rgba(245, 245, 245, 0.7)
	//margin-top drag-bar-panel-size
	z-index 1
	//padding panel-padding
	background panel-background
	.drag-bar
		font-size: 15px;
		text-align center
		//position absolute
		//top - drag-bar-panel-size
		background whitesmoke
		width 100%
		//left 0
		cursor move
	.resize-bar
		background rgba(255, 0, 0, 0.1)
		position absolute
		&.T, &.B
			height resize-bar-panel-size
			width 100%
			cursor n-resize
		&.T, &.TL, &.TR
			top resize-bar-panel-margin
		&.B, &.BL, &.BR
			bottom resize-bar-panel-margin
		&.L, &.R
			cursor e-resize
			width resize-bar-panel-size
			height 100%
		&.L, &.TL, &.BL
			left resize-bar-panel-margin
		&.R, &.TR, &.BR
			right resize-bar-panel-margin
		&.TL, &.TR, &.BL, &.BR
			height resize-bar-panel-size
			width resize-bar-panel-size
		&.TR
			cursor ne-resize
		&.TL
			cursor nw-resize
		&.BR
			cursor se-resize
		&.BL
			cursor sw-resize
.panel-menus
	border: 0;
	z-depth-1 0
	z-index: 10
	transition: 0.3s height
	background: whitesmoke
	&.down
		z-depth-2 0
	.center
		width: 20%
		display: inline-block;
		margin auto
		input
			background transparent
			text-align: center
			border 0
			&:active,&:focus
				border-bottom: 1px gray solid
				outline: none
.panel-tools
	.colors
		margin 5px
		position relative
		height 50px
		div
			position absolute
			cursor pointer
		.primary
			box-shadow 0 0 5px rgba(0,0,0,.7)
			top 0
			left 0
		.secondary
			right 0
			bottom 0

.panel-palette
	background whitesmoke
	.input-color
		background-image url(../assets/images/transparent.png)
		background-size: 7%;
	.picker
		input[type=range]
			width 70%
.color
	background-size: 40%;
	display inline-block
	cursor pointer
	position relative
	div
		position absolute
		width 100%
		height 100%
		&.active
			transform scale(1.1)
			box-shadow 0 0 5px rgba(0,0,0,0.7);
			transform-origin 50%
