.panel-menus.panel
  position absolute
  border 0
  padding 0
  top 0
  left 0
  overflow visible
  z-index 40
  .name-form
    button 
      display none
    .name-sprite
      position absolute
      width 400px
      margin-left -200px
      left 50%
      top 0
      text-align center
      font-weight bold
      font-size 18px
      line-height 1.4
      text-transform capitalize
      border 0
      background transparent
  .logo
    background gray
    width 25px
    height 25px
    display inline-block


.content-menu
  &.hidden
    display none
  &.inline
    box-shadow 0px 0px 0px
    vertical-align top
    position initial
    height 100%
    &>ul
      height 100%
      padding 0
      &>li
        padding-top 4px
        padding-bottom 0
        display inline-block
        height 100%
        &>ul
          padding 0
          top 100%
          left 0
  position: fixed;
  left: 400px;
  top: 100px;
  background main-gray
  z-index 42
  border-radius 1px
  box-shadow rgba(0, 0, 0, 0.247059) 0px 0px 0px 1px, rgba(0, 0, 0, 0.14902) 0px 8px 16px
  display inline-block
  ul

    list-style none
    padding 2px 0
  ul, li
    cursor pointer
    margin 0
    box-sizing border-box
  li
    white-space: nowrap;
    background bakcground-gray
    padding 2px 15px 3px 15px
  &>ul
    position relative
    border 1px
    ul
      box-shadow rgba(0, 0, 0, 0.247059) 0px 0px 0px 1px, rgba(0, 0, 0, 0.14902) 0px 8px 16px
    li
      position relative
      &>ul
        position absolute
        left calc(100% + 1px)
        top 0
        display none
    li:hover
      background select-item
      &>ul
        display initial
      

