.navbar
  height 50px
  margin-bottom 30px
  background #34495e
  .navbar-right
    float right
  .navbar-header
    display: inline-block
    .navbar-brand
      h2
        margin 0 10px
        line-height 50px
  .nav-item
    display: inline-block
    vertical-align top
    color white
    text-decoration none
    font-size 16px
    padding 2px 10px
    margin 0 10px
    margin-top 11px
    line-height 26px
    font-weight 700
    &.btn
      background-image: none
      background-color #f4d313
      border-color #f4d313
      outline none
      border-radius 4px
    &.img
      //margin-top 0
      padding 0 0 0 0
      img
        box-sizing content-box
        border 2px solid white
        vertical-align middle
        border-radius 4px
        width 28px
        height 28px