.navbar
  height 50px
  margin-bottom 30px
  background #34495e
  .navbar-right
    float right
  .navbar-header
    display: inline-block
    .navbar-brand
      h2
        margin 0 10px
        line-height 50px
  .nav-item
    color white
    text-decoration none
    font-size 16px
    padding 15px 21px
    line-height 50px
    font-weight 700
    &.btn
      padding 5px 10px
      background-image: none
      margin-top 12px
      line-height 26px
      background-color #f4d313
      border-color #f4d313
      outline none
      border-radius 6px