.panel-palette
	background whitesmoke
	.input-color
		background-image url(../assets/images/transparent.png)
		background-size: 7%;
	.picker
		input[type=range]
			width 70%
	.content-colors
		overflow-y scroll
		height calc(100% - 25px)
		.color
			
			border 1px solid whitesmoke
			float left