.panel-palette
  //background whitesmoke
  .input-color
    background-image url(../assets/images/transparent.png)
    background-size: 7%;
  .picker
    input[type=range]
      width 70%
  .palette
    overflow-y scroll
    height calc(100% - 25px)
    .color
      margin 1px
      float left

.panel-palettes
  background whitesmoke
  .content-palettes
    .palette
      padding 2px
      margin 2px
      cursor pointer
      &:hover,&.active
        background #E3E3E3
      .color
        vertical-align: top;
        pointer-events none
        margin-right 1px