

.panel-preview
	width 200px
	right 0
	top 0
	.content-preview
		position relative
		width 100%
		height: calc(100% - 40px)
		.preview
			position absolute
			top 0
			cursor pointer
		.area-preview
			position: absolute
			left: 0
			width: 100%
			height: 100%
			top 0
			box-sizing: border-box;
			border: 1px solid black
