.range-small
  display inline-block
  background text-color
  input
    cursor ns-resize
    background transparent
    text-align center
    
    //box-shadow rgba(0, 0, 0, 0.0980392) 0px 1px 1px inset, rgb(236, 236, 236) 0px 1px 0px 0px
    width 40px