.range-small
  display inline-block
  background white
  input
    cursor ns-resize
    background transparent
    text-align center
    border 1px solid rgb(136, 136, 136)
    box-shadow rgba(0, 0, 0, 0.0980392) 0px 1px 1px inset, rgb(236, 236, 236) 0px 1px 0px 0px
    width 40px