.panel-resize
	background whitesmoke
.resize-grid
	width 65px
	height 65px
	margin 5px auto
	overflow hidden
	.resize-cell
		display inline-block
		width 20px
		height 20px
		background rgba(128, 128, 128, 0.7)
		margin 0 0 1px 1px
		float left
		position relative
		&.active
			background #A3C4FF
			z-index 2
			span
				position absolute
				border 10px solid transparent
				pointer-events none
				transform scale(0.7)
				&:nth-child(1)
					top -25px
					//left 5px
					border-bottom 10px solid #A3C4FF
				&:nth-child(2)
					right -25px
					//top 5px
					border-left 10px solid #A3C4FF
				&:nth-child(3)
					bottom -25px
					//left 5px
					border-top 10px solid #A3C4FF
				&:nth-child(4)
					left -25px
					//top 5px
					border-right 10px solid #A3C4FF