.tooltip
  background black
  color white
  z-index 50
  display none
  position absolute
  padding 3px 7px
  border-radius 3px
  &.bottom:after,
  &.top:after
    content ''
    position absolute
    width 0px
    height 0px

  &.bottom:after
    bottom 100%
    left 50%
    margin-left -6px
    border-bottom 6px solid black
    border-left 6px solid transparent
    border-right 6px solid transparent
  &.top:after
    top 100%
    left 50%
    margin-left -6px
    border-top 6px solid black
    border-left 6px solid transparent
    border-right 6px solid transparent
  &.active
    display inline-block
  //&:after
