.panel-tools
  .tools
    margin 5px
    button
      background transparent
      border 0
      width 50%
      &.active
        background background-black
        box-shadow inset 0 0 3px rgba(0, 0, 0, 0.5)
  .colors
    margin 5px
    position relative
    height 50px
    width 50px
    .primary, .secondary
      position absolute
      cursor pointer
      border: 1px solid rgb(135, 135, 135)
    .primary
      background rgba(0,0,0,0.247) 3px 3px 2px -1px, rgba(0,0,0,0.149) 0px 0px 0px
      top 0
      left 0
    .secondary
      right 0
      bottom 0