//  #424242

// darker-black
// dark-black
// black 
// light-black
// lighter-black 

layout-border-color = main-black = #272727
layout-background = background-black = #303030
text-color = #d5d5d5
disabled-text-color = #8b8b8b
input-background = #a2a2a2
layout-content-background = main-gray = #494949
disabled-gray = #686868

border-light-gray = #6d6d6d
gradient-top-gray = #636363
gradient-bottom-gray = #525252
shadow-gray = #888888
light-shadow-gray = #989898
light-border = #5d5d5d

border-panel = 1px
padding-panel = 1px


btn-bg()
  background-image -webkit-linear-gradient(gradient-top-gray 0%, gradient-bottom-gray 100%)
  background-image -o-linear-gradient(gradient-top-gray 0%, gradient-bottom-gray 100%)
  background-image linear-gradient(gradient-top-gray 0%, gradient-bottom-gray 100%)


panel-padding = 5px
panel-background = rgba(0,0,0,.5)
drag-bar-panel-size = 20px

resize-bar-panel-size = 6px
resize-bar-panel-margin = - resize-bar-panel-size
